.container {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    /*quebra de conteiner*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;


}

.container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 24px;

}

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    background-color: rgb(163, 167, 170);
    padding: 5px;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu {
    list-style-type: none;
    position: flex;
    top: 100px;
    left: 100;
    width: 95%;
    background-color: #dfadad;
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 10px rgba(236, 235, 235, 0.1);

}

#menu li {
    text-align: center;
    padding: 10px
}

#menu {
    color: #e4dada;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 8px 16px;
    border-radius: 4px;
}

body {
    margin: 2px;
    padding: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#livros {
    background-color: #f5f7fa;
    position: relative;
}

#livros {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    opacity: 0.3;
    z-index: 0;
}

.livros-container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: dodgerblue;
    padding: 5px;
}

.livros-container div {
    background-color: white;
    padding: 10px;
}

.livros-container div.header {
    grid-area: header;
    text-align: center;
}

.livros-container div.menu {
    grid-area: menu;
}

.livros-container div.content {
    grid-area: content;
}

.livros-container div.footer {
    grid-area: footer;
    text-align: center;
}